Node-RED_Flows/Lab2.JSON
[{"id":"1c7d9f4d.65a8c9","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"39f854b1.1a2bac","type":"inject","z":"1c7d9f4d.65a8c9","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"0.2","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":180,"y":220,"wires":[["9019caec.c96f4","7956ccf4.e1056c"]]},{"id":"9019caec.c96f4","type":"file in","z":"1c7d9f4d.65a8c9","name":"a","filename":"/tmp/L1_ina","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":360,"y":180,"wires":[["dfc76c10.e6c5e8"]]},{"id":"7956ccf4.e1056c","type":"file in","z":"1c7d9f4d.65a8c9","name":"b","filename":"/home/pi/mxet300_lab/b.txt","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":350,"y":280,"wires":[[]]},{"id":"dfc76c10.e6c5e8","type":"ui_gauge","z":"1c7d9f4d.65a8c9","name":"","group":"f9d3f992.9241a8","order":0,"width":"6","height":"5","gtype":"gage","title":"gauge","label":"V","format":"{{value}}","min":0,"max":"13","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":550,"y":180,"wires":[]},{"id":"f9d3f992.9241a8","type":"ui_group","name":"gauge","tab":"38597162.89df7e","order":1,"disp":true,"width":"6","collapse":false},{"id":"38597162.89df7e","type":"ui_tab","name":"Lab 2","icon":"dashboard","order":1,"disabled":false,"hidden":false}]